<div class="center-container full-height">
  <div id="short-urls-new" class="center-main">
    <h2>Create Your Short Url</h2>
    <div class="form-container">
    <%= form_with model: @short_url, local: true do |form| %>
      <% if @short_url.errors.any? %>
        <div class="errors">
          <ul>
            <% @short_url.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form">
        <%= form.text_field :original_url, placeholder: "Put your url here" %>
        <div class="center-container btn-container">
          <%= form.submit "Create Short URL", class: "btn" %>
        </div>
        
      </div>
    <% end %>
    </div>
</div>