<div class="center-container full-height">
  <div class="center-main">
    <h2>This is your URL</h2>
    <div>
      <div class="short-container"><%= @short_url.code %></div>
        <div style="text-align:center">
          <div>try your url <%= link_to "here", short_path(@short_url.code) %><div>
          <%= link_to "Create new URL", root_path, class: "btn"%>
        <div>
    </div>
  </div>
</div>